.addressContainer {
    .label {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      opacity: 1;
      color: #69737f;
    }
    .selectWrapper {
      textarea {
        font-size: 12px;
        border-radius: 6px;
        width: 100%;
        border: 1px #b2b6b9 solid;
        min-height: 69px;
        padding: 15px;
      }
    }
  }